{% extends "base.html" %}
{% block con %}


    <h3>查看{{ model_name }}数据</h3>
    <div class="">
        <div class="row">

            <div class="col-md-11">
                <div>
                    <a href="{{ add_url }}" class="btn btn-primary">添加数据</a>
                    {% if showlist.config.search_fields %}
                        <form action="" class="pull-right ">
                            <input type="text" name="search" value="{{ showlist.config.search_info }}"> <input
                                type="submit" value="搜索">
                        </form>
                    {% endif %}

                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <select name="action" id="" style="width: 200px; padding: 5px; float: left">
                        <option value="">_____</option>
                        {% for item in showlist.get_action_list %}
                            <option value="{{ item.name }}">{{ item.desc }}</option>
                        {% endfor %}

                    </select>
                    <input type="submit" value="go"  class="btn btn-success" style="width: 50px; padding: 5px; float: left">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            {% for foo in showlist.get_header %}
                                {% if forloop.first %}
                                <td class = "input_td">{{ foo }}</td>
                                {% else %}
                                <td>{{ foo }}</td>
                                {% endif %}
                            {% endfor %}

                        </tr>
                        </thead>
                        <tbody>
                        {% for data in showlist.get_data_list %}
                            <tr>
                                {% for foo in data %}
                                    {% if forloop.first %}
                                        <td class="input_td">{{ foo }}</td>
                                    {% else %}
                                        <td>{{ foo }}</td>
                                    {% endif %}
                                    
                                {% endfor %}
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                    {#   页数开始    #}
                    <nav class="pull-right">
                        <ul class="pagination">
                            {{ showlist.pagination.page_html|safe }}
                        </ul>
                    </nav>
                    {#   页数结束    #}
                </form>
            </div>
            <div class="col-md-3">


                {% if showlist.config.list_filter %}
                    <h4>Filter</h4>
                    <div class="filter">
                        {% for field, linktag in showlist.get_filter_tag.items %}
                            <div class="well"><p>{{ field }}</p>
                                {% for item in linktag %}
                                    <p>{{ item | safe }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                {% endif %}


        </div>
    </div>
    <script src="/static/jquery-3.3.1.js"></script>
    <script>
        // 全选按钮
        $("#choice").click(function () {

            if ($(this).prop("checked")) {
                $(".choice_item").prop("checked", true)
            } else {
                $(".choice_item").prop("checked", false)
            }

        });

    </script>

{% endblock %}