
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>layout 后台大布局 - Layui</title>
<link rel="stylesheet" href="/static/src/css/layui.css">
 <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/add.css">
    <link rel="stylesheet" href="/stati/css/list.css">
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="http://cdn.highcharts.com.cn/highcharts/themes/dark-unica.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">老男孩CRM管理</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          {{ user }}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
  </div>
  
{#  <div class="layui-side layui-bg-black">#}
{#    <div class="layui-side-scroll">#}
{#      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->#}
{#      <ul class="layui-nav layui-nav-tree"  lay-filter="test">#}
{#        <li class="layui-nav-item layui-nav-itemed">#}
{#          <a class="" href="javascript:;">所有商品</a>#}
{#          <dl class="layui-nav-child">#}
{#            <dd><a href="javascript:;">列表一</a></dd>#}
{#            <dd><a href="javascript:;">列表二</a></dd>#}
{#            <dd><a href="javascript:;">列表三</a></dd>#}
{#            <dd><a href="">超链接</a></dd>#}
{#          </dl>#}
{#        </li>#}
{#        <li class="layui-nav-item">#}
{#          <a href="javascript:;">解决方案</a>#}
{#          <dl class="layui-nav-child">#}
{#            <dd><a href="javascript:;">列表一</a></dd>#}
{#            <dd><a href="javascript:;">列表二</a></dd>#}
{#            <dd><a href="">超链接</a></dd>#}
{#          </dl>#}
{#        </li>#}
{#        <li class="layui-nav-item"><a href="">云市场</a></li>#}
{#        <li class="layui-nav-item"><a href="">发布商品</a></li>#}
{#      </ul>#}
{#    </div>#}
{#  </div>#}
  {% load my_tags %}
        <div class="menu">
             {% get_menu request %}
        </div>
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
    <blockquote class="layui-elem-quote">
  帮助有志向的年轻人通过努力学习获得体面的工作和生活！
  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——老男孩IT教育集团
</blockquote>


{#        折线图#}
<div id="container" style="min-width:800px;height:700px"></div>


    {% block con %}

        {% endblock %}

    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script src="/static/jquery-3.3.1.js"></script>
<script src="/static/src/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;

});

//折线图
   var chart = Highcharts.chart('container', {
	chart: {
		type: 'line'
	},
	title: {
		text: '月客户增长情况'
	},
	subtitle: {
		text: '数据来源: WorldClimate.com'
	},
	xAxis: {
		categories: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']
	},
	yAxis: {
		title: {
			text: '数量 (个)'
		}
	},
	plotOptions: {
		line: {
			dataLabels: {
				// 开启数据标签
				enabled: true
			},
			// 关闭鼠标跟踪，对应的提示框、点击事件会失效
			enableMouseTracking: false
		}
	},
	series: [{
		name: 'Python班级',
		data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
	}, {
		name: 'Linux班级',
		data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
	}]
});



</script>
</body>
</html>
