 .filter a{
            text-decoration: none;
            color: grey;
        }

        .active{
            color: rebeccapurple!important;
        }

        .input_td{
            width: 30px;
            height: 30px;

        }